@import "app/styles/reset";
$border-color: #cecece;

body {
  color: #484848;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  margin: 0 10px;
}

.coin-container {
  background-color: #f1f1f1;
  border: 1px solid $border-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.coin-container__coin {
  align-items: center;
  display: flex;
  padding: 10px 12px;
  border-bottom: 1px solid $border-color;

  &:hover {
    background-color: #d9d9d9;
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 0;
  }

  .name {
    flex: 1;
    padding: 0;
    margin: 0;
  }

  .icon {
    max-width: 22px;
    max-height: 22px;
    margin-right: 7px;
  }
}

.price-data {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .price {
    font-size: 15px;
  }

  .relative {
    color: #434343;
    font-size: 12px;
    margin-top: 6px;
    color: green;
    text-align: right;
    display: block;

    &.negative {
      color: red;
    }
  }
}
