@import "reset";

$border-color: #d6d6d6;

body {
  color: #484848;
  font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
  margin: 0 10px;
}

.coin-container {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.coin-container__coin {
  background-color: #f1f1f1;
  align-items: center;
  display: flex;
  padding: 10px 12px;
  border-bottom: 1px solid $border-color;

  &:hover {
    background-color: #d9d9d9;
    cursor: pointer;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .name {
    flex: 2;
    padding: 0;
    margin: 0;
  }

  .icon {
    max-width: 22px;
    max-height: 22px;
    margin-right: 7px;
  }
}

.price-data {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .price {
    font-size: 15px;
    text-align: right;
  }

  .relative {
    color: #434343;
    font-size: 12px;
    margin-top: 6px;
    color: green;
    text-align: right;
    display: block;

    &.negative {
      color: red;
    }
  }
}

.status {
  background-color: #434344;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #f1f1f1;
  padding: 16px 12px;
  display: flex;

  .total {
    flex: 1;
  }

  i {
    color: #9a9a9a;

    &:hover {
      color: #eee;
    }
  }
}
